#store_container{
	margin: auto;
	padding: 10px 50px;
	min-height: 750px;
}

#auth_container{
	margin-bottom: 15px;
	padding-bottom: 5px;
	border-bottom: 1px #eaeaea solid;
	justify-content: space-between;
	flex-direction: row-reverse;
	display: flex;
}

#auth_container>a {
	color: #FF6600;
	font-weight: bold;
	letter-spacing: 1px;
}

#cm_token_input{
	width: 35%;
	height: 30px;
	padding-left: 5px;
	display: inline-block;
}

.course_container{
	width: 250px;
	height: 350px;
	float: left;
	margin-right: 50px;
	margin-bottom: 15px;
	background-color: #FFFFFF;
}

.course_container_front{
	width: inherit;
	height: inherit;
}

.course_container_back{
	width: inherit;
	height: inherit;
}

#row_last_course::after{
	clear: left;
}

.cm_center{
	text-align: center;
}

.course_image_container{
	width: 100%;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 1px solid rgba(178, 178, 178, 0.28);
}

.course_image{
	width: 100%;
	height: 100%;
	max-height: 200px;
	object-fit: cover;
}

.course_text{
	position: relative;
	padding: 0 10px;
	height: 100%;
}

.course_text>p {
	margin: 5px 0;
}

.course_description{
	font-style: italic;
	font-size: 12pt;
}

.course_name{
	font-weight: bold;
	font-size: 14pt;
	padding: 0 10px;
	margin: 0;
}

.small-flip-container {
	padding-top: 10px;
}

.buy_course_btn{
	font-weight: bold;
	background-color: #FF6600;
}

.small-flip-container .buy_course_btn{
	margin-top: 20px;
}

.course_back_content{
	width: 100%;
	height: 100%;
	position: relative;
	padding: 10px;
}

.course_back_content>.course_text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.close_course {
	position: absolute;
	top: 10px;
	right: 15px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
	z-index: 25;
}

.close_course:hover {
	color: #ff6600;
}
